.pt-20 {
    padding-top: 20px;
}

.mb-80 {
    margin-bottom: 80px;
}

.pt-70 {
    padding-top: 70px;
}

.pb-220 {
    padding-bottom: 320px;
}

.mb-60 {
    margin-bottom: 60px;
}

.pt-110 {
    padding-top: 350px;
}

.pt-200 {
    padding-top: 200px;
}

.mb-140 {
    margin-bottom: 140px;
}

.pt-150 {
    padding-top: 150px;
}

.mt-45 {
    margin-top: 45px;
}

.pb-60 {
    padding-top: 60px;
}

.mb-150 {
    height: 150px;
}

.mb-200 {
    height: 200px;
}

.pt-50 {
    height: 50vw;
}

.mt-10 {
    margin-top: 10vw;
}
 .mt-20 {
    margin-bottom: 80px;
 }

 .mt-70 {
    margin-top: 70px;
 }

 .mp-20 {
     margin-top: 20px;
 }

 .mt-12 {
     margin-top: 12px;
 }