.pt-20 {
    padding-top: 20px;
}

.mb-80 {
    margin-bottom: 80px;
}

.pt-70 {
    padding-top: 70px;
}

.pt-120 {
    padding-bottom: 120px;
}

.mb-60 {
    margin-bottom: 60px;
}

.pt-110 {
    padding-top: 350px;
}

.pt-200 {
    padding-top: 200px;
}

.pt-40 {
    padding-top: 40px;
}

.mt-60 {
    height: 50vw;
}

.pt-150 {
    padding-top: 150px;
}

.mt-45 {
    margin-top: 45px;
}

.pb-60 {
    padding-top: 60px;
}

.mb-150 {
    height: 150px;
}

.pt-50 {
    height: 50vw;
}



